@using Evry.Evaluation.Models
@model List<EventViewModel>
@{
    ViewBag.Title = "Evaluation - EVRY Public HR";
}

<div class="jumbotron">
    <h1>EVRY Evaluation</h1>
    <p class="lead"> Click to go to List page.</p>


    <button type="button"
           value="Go Somewhere Else"
           onclick="location.href=@Url.Action("Home", "List" )'"> List </button> 
</div>