@using Evry.Evaluation.Models
@model List<EventViewModel>
@{
    ViewBag.Title = "Evaluation - EVRY Public HR";
}

    <div class="jumbotron">
    <h1>EVRY Evaluation</h1>
    <p class="lead">Please complete the evaluations in this project as well as you can. We'll discuss your solutions together.</p>
</div>